<!DOCTYPE html>
<html>
  <head>
    <meta name="robots" content="noindex">
    <title>Not allowed</title>
  </head>
  <body style="display:flex; flex-direction:column; justify-content:center; min-height:100vh; max-width: 30em; margin: 0 auto; padding-bottom: 20vh; box-sizing: border-box;">
    <h1>You are not allowed to access this page</h1>
    <p>
      If you have been invited to the study, you need to enter this page using
      the link you received in the invitation email. If you have lost it, it
      may be possible to recover. In this case you can send an email to
      {{ contact_email }}.
    </p>
  </body>
</html>
