<section class="lh-copy">
    <h2>The study</h2>

    <p>
        The study consists of a self-assessment followed by a mini-exam.
    </p>

    <p>
        In the self-assessment, you will self-rate your familiarity with
        Finnish words on a 5-point scale. In the mini-exam, you will be
        further tested on your knowledge of a few Finnish words.
    </p>

    <h2>The self-assessment scale</h2>

    <p>
        The self-assessment scale is 5-point scale explained below:
    </p>

    <img src="{{ url_for('static', filename='scale_explain.svg') }}">

    <ul>
        <li>
            Your choice on the scale says 2 things:
            <ul>
                <li>Whether you think you have seen the word</li>
                <li>Whether you think you know the meaning of the word</li>
            </ul>
        </li>
        <li>Point 1 on scale means you have not seen the word</li>
        <li>Point 3 on the scale means you have seen the word, but do not know the meaning</li>
        <li>Point 5 on the scale means you know the meaning of the word</li>
        <li>Points 2 and 4 can be used if you are unsure about which of their neighbours to choose</li>
    </ul>

    <p>
        For a compound word, you might know what the word means even though
        you have never enountered it before. In this case you should select
        4 or 5 depending on your confidence. However, if you know all the
        parts of the compound word, but do not know their meaning together,
        then you should select 1 or 2 if you think you have never
        encountered the compound before.
    </p>

    <h2>Planning to complete the study in time</h2>

    <p>
        The self-assessment is estimated to take between 8 and 16 hours, with
        12 hours being typical. This means you should expect to complete it
        over more than 1 day. After this, about 30 minutes should be reserved
        for the mini-exam.
    </p>

    <p>
        Please think about whether you are able to commit to completing
        this before the deadline shown in the top right before agreeing to
        participate. Here are 2 scenarios for how it could be completed:
    </p>

    <ol>
        <li>
            Participant A has 2 spare days to complete the assessment. On
            the first day they complete 3 hours of the self-assessment in
            the morning, and then take a break for lunch. They then
            complete 3 hours in the afternoon. On the second day they do
            the same, and complete the mini-exam in the evening.
        </li>

        <li>
            Participant B is busy during the day Monday to Friday, but has some
            spare time in the evening and at weekends. They complete 2 hours every
            evening during Monday to Friday and complete a final 2 hours as well as
            the mini-exam on Saturday.
        </li>
    </ol>

    <p>
        If you are not able to fit it into your schedule, please withdraw
        from the study at the bottom of this page.
    </p>

    <p>
        Prolonged screen usage can be dangerous for your eyes. Please
        adjust your screen brightness to match your surroundings and take a
        10 minute screen break every hour.
    </p>

    <h2>Returning to the study website</h2>

    <p>
        The link you received in your email acts as your username and password
        to login to the study. Please keep it safe. If you like, you can also:
    </p>

    <ul>
        <li>
            Recommended on a desktop/laptop computer: <a href="{{ url_for('start', token=token, _external=True) }}">right click this link and save it as a bookmark</a>.
        </li>
        <li>
            Recommended on Android/iOS: <a id="addtohomescreen" href="#">click here to add to home screen</a>.
        </li>
    </ul>

</section>
<script>
let deferredPrompt = null;
const addBtn = document.getElementById('addtohomescreen');

addBtn.addEventListener('click', (e) => {
  e.preventDefault();
  if (deferredPrompt === "spent") {
    location.reload();
  } else if (deferredPrompt === null) {
    alert('Add to home screen unsupported on this device');
  } else {
    deferredPrompt.prompt();
    deferredPrompt.userChoice.then((choiceResult) => {
      if (choiceResult.outcome === 'accepted') {
        alert('Added to home screen');
      } else {
        alert('Failed to add to home screen');
      }
      deferredPrompt = "spent";
    });
  }
});

window.addEventListener('beforeinstallprompt', (e) => {
  // Prevent Chrome 67 and earlier from automatically showing the prompt
  e.preventDefault();
  deferredPrompt = e;
});
</script>
