{% extends "base.html" %}

{% block body %}
<style type="text/css">
@media screen and (min-width:30em) {
    .cols2-ns {
        column-count: 2;
    }
}
</style>
<input
    type="hidden"
    name="event"
    value="miniexamwindowfocus"
    hx-post="{{ url_for("track") }}"
    hx-trigger="focus from:window">
<input
    type="hidden"
    name="event"
    value="miniexamwindowblur"
    hx-post="{{ url_for("track") }}"
    hx-trigger="blur from:window">
<form
     id="miniexamform"
     method="post"
     class="mv5 mt0 mw7 center-ns mh2"
     action="{{ url_for("miniexam") }}"
>
    <input
        type="hidden"
        name="event"
        value="miniexaminput"
        hx-post="{{ url_for("track") }}"
        hx-trigger="input from:#miniexamform throttle:1s">
    <div class="f4 lh-copy">
        <p class="f3">
            Please demonstrate your knowledge of the following words.
        </p>
        <ul>
            <li>
                Try to translate or define the word in your own language, English or Finnish &mdash; in that order of preference;
            </li>
            <li>
                If you cannot do this, instead give your best guess of the topic of the word i.e. completing the sentence "this word has something to do with&mldr;";
            </li>
            <li>
                If you are absolutely unable to attempt any of the other options then you may select that that you do not know the word;
            </li>
            <li>
                Make sure to pick the correct option for the type of answer you provide!
            </li>
        </ul>
    </div>
    <ul class="list pa0 cols2-ns">
        {% for word in words %}
            <li class="pa4 tc tl-ns relative"
            _="
           on validityChange(valid)
           if valid then add .bg-washed-green then remove .o-0 from #tick_{{ word.id }}
           else remove .bg-washed-green then add .o-0 to #tick_{{ word.id }}
           ">
                <span id="tick_{{ word.id }}" class="absolute right-0 top-0 ma2 f3 dark-green o-0">✓</span>
                <div class="f3 mb1 tc">{{ word.word }}</div>
                <input type="hidden" name="word_id" value="{{ word.id }}">
                <select class="mv1" name="defn_type"
                _="
                on change or load
                set the disabled of #text_{{ word.id}} to (my value is 'donotknow')
                then set the required of #text_{{ word.id}} to (my value is not 'donotknow')
                then send validityChange(valid:(#text_{{ word.id}}.validity.valid)) to parentElement of me 
                ">
                    {% for language in languages %}
                        <option value="definition_{{ language.language }}">{{ language.display_name() }} translation</option>
                    {% endfor %}
                    {% for language in languages %}
                        <option value="topic_{{ language.language }}">{{ language.display_name() }} topic</option>
                    {% endfor %}
                    <option value="donotknow">Do not know</option>
                </select> 
                <input class="mt1 border-box w-100" id="text_{{ word.id }}" name="response" required
                _="
                on input call me.setCustomValidity('')
                on change send validityChange(valid:me.validity.valid) to parentElement of me
                on invalid call me.setCustomValidity('Please fill this in or select \'Do not know\'')
                ">
            </li>
        {% endfor %}
    </ul>
    <button type="submit" class="pa2 ma1 f1 center db">Submit</button>
</form>
{% endblock %}
