{% extends "base.html" %}

{% macro box(type) -%}
    <div class="ml1 mr3 mv3 dib pt2 w3 h3 v-mid tc f3 ba bw3 br3 flex-none
        {% if type == "tick" %}
            b--dark-green bg-green washed-green">✓
        {% elif type == "cross" %}
            b--dark-red bg-red washed-red">✗
        {% else %}
            b--gold bg-yellow washed-yellow b">⁓
        {% endif %}
    </div>
{%- endmacro %}

{% block body %}

<section class="ma5 mw7 center f4 lh-copy">
    <ol>

        <li>
            <div class="flex items-center">
                {% if accepted %}
                    {{ box("tick") }}
                {% else %}
                    {{ box("cross") }}
                {% endif %}
                <div>
                    {% if accepted %}
                        <a href="{{ url_for("about") }}">
                            Refer to the overview of the study here.
                        </a>
                    {% else %}
                        <a href="{{ url_for("terms") }}">
                            Learn about the study and read its terms
                        </a>
                    {% endif %}
                </div>
            </div>
        </li>

        <li>
            <div class="flex items-center">
                {% if language_proof == "accepted" %}
                    {{ box("tick") }}
                {% elif language_proof == "pending" %}
                    {{ box("dash") }}
                {% else %}
                    {{ box("cross") }}
                {% endif %}
                <div>
                    {% if language_proof == "none" %}
                        <a href="{{ url_for("proof") }}">
                    {% endif %}
                        Submit your basic information and language proof
                    {% if language_proof == "none" %}
                        </a>
                    {% endif %}
                </div>
            </div>
            {% if language_proof == "accepted" %}
                <ul class="ma2 ml6-ns mv0-ns">
                    <li>Approved</li>
                </ul>
            {% elif language_proof == "pending" %}
                <ul class="ma2 ml6-ns mv0-ns">
                    <li>Awaiting approval</li>
                </ul>
            {% endif %}
        </li>

        <li
            {% if language_proof == "none" or not accepted %}
                class="o-40"
            {% endif %}
        >
            <div class="flex items-center">
                {% if selfassess == "accepted" %}
                    {{ box("tick") }}
                {% elif selfassess == "pending" %}
                    {{ box("dash") }}
                {% else %}
                    {{ box("cross") }}
                {% endif %}
                <div>
                    Complete the self-assessment
                </div>
            </div>
            <ul class="ma2 ml6-ns mv0-ns">
                {% if selfassess == "complete" %}
                    <li>Approved</li>
                {% elif selfassess == "pending" %}
                    <li>Awaiting approval</li>
                {% else %}
                    <li>{{ completed_words }}/{{ total_words }} answered</li>
                {% endif %}
                {% if selfassess == "none" and language_proof != "none" and accepted %}
                    <li>
                        <a href="{{ url_for("selfassess") }}">
                            Continuous mode
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for("selfassess") }}?count=300">
                            Answer 300 (20 mins)
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for("selfassess") }}?count=500">
                            Answer 500 (30 mins)
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for("selfassess") }}?count=1000">
                            Answer 1000 (1 hour)
                        </a>
                    </li>
                    <li>
                        <form action="{{ url_for("selfassess") }}">
                            Answer
                            <input name="count" type="number" value="100" min="1" max="{{ total_words }}" size="8">
                            <button type="submit">Go</button>
                        </form>
                    </li>
                {% endif %}
            </ul>
        </li>

        <li
            {% if selfassess == "none" %}
                class="o-40"
            {% endif %}
        >
            <div class="flex items-center">
                {% if miniexam == "accepted" %}
                    {{ box("tick") }}
                {% elif miniexam == "pending" %}
                    {{ box("dash") }}
                {% else %}
                    {{ box("cross") }}
                {% endif %}
                <div>
                    {% if selfassess != "none" and miniexam == "none" %}
                        <a href="{{ url_for("miniexam") }}">
                    {% endif %}
                    Complete the mini-exam
                    {% if selfassess != "none" and miniexam == "none" %}
                        </a>
                    {% endif %}
                </div>
            </div>
            <ul class="ma2 ml6-ns mv0-ns">
                {% if selfassess == "none" %}
                    <li>
                        Once you have finished the self-assessment, there is a short mini-exam.
                    </li>
                {% elif miniexam == "none" %}
                    <li>
                        Complete the mini-exam in a single session. It should take about 1 hour.
                    </li>
                {% elif miniexam == "complete" %}
                    <li>Approved</li>
                {% elif miniexam == "pending" %}
                    <li>Awaiting approval</li>
                {% endif %}
            </ul>
        </li>

        <li
            {% if miniexam == "none" %}
                class="o-40"
            {% endif %}>
            <div class="flex items-center">
                {{ box("cross") }}
                <div>
                    Get paid
                </div>
            </div>
            <ul class="ma2 ml6-ns mv0-ns">
                <li>
                    Once all participants have finished, everyone will be sent
                    a link to get paid directly by the University of Jyväskylä.
                </li>
            </ul>
        </li>
    </ol>

    <section class="lh-copy f5 mt5">

        <h2>Returning to the study website</h2>

        <p>
            The link you received in your email acts as your username and password
            to login to the study. Please keep it safe. If you like, you can also:
        </p>

        <ul>
            <li>
                Recommended on a desktop/laptop computer: <a href="{{ url_for('start', token=token, _external=True) }}">right click this link and save it as a bookmark</a>.
            </li>
            <li>
                Recommended on Android/iOS: <a id="addtohomescreen" href="#">click here to add to home screen</a>.
            </li>
        </ul>

        <section class="dn tc" id="addtohomescreentutorial">
            <h2>iOS</h2>
            <img class="mw6" src="{{ url_for('static', filename='ios-add-to-home-screen.png') }}">
            <h2>Android</h2>
            <img class="mw6" src="{{ url_for('static', filename='android-add-to-home-screen.png') }}">
        </section>

        <h2>Maintenance window</h2>

        <p>
            This website goes down briefly (for around 2 minutes) when
            updated. All maintenance is performed in the maintenance window
            of 7 &mdash; 8 so use the website outside this hour if you want
            to avoid any downtime.
        </p>

    </section>

</section>
    
<script>
let deferredPrompt = null;
const addBtn = document.getElementById('addtohomescreen');

addBtn.addEventListener('click', (e) => {
  e.preventDefault();
  if (deferredPrompt === "spent") {
    location.reload();
  } else if (deferredPrompt === null) {
    const tut = document.getElementById('addtohomescreentutorial');
    tut.classList.remove("dn");
  } else {
    deferredPrompt.prompt();
    deferredPrompt.userChoice.then((choiceResult) => {
      if (choiceResult.outcome === 'accepted') {
        alert('Added to home screen');
      } else {
        alert('Failed to add to home screen');
      }
      deferredPrompt = "spent";
    });
  }
});

window.addEventListener('beforeinstallprompt', (e) => {
  // Prevent Chrome 67 and earlier from automatically showing the prompt
  e.preventDefault();
  deferredPrompt = e;
});
</script>
{% endblock %}
