{% extends "base.html" %}

{% macro box(type) -%}
    <div class="mh1 mv3 dib pt2 w3 h3 v-mid tc f3 ba bw3 br3
        {% if type == "tick" %}
            b--dark-green bg-green washed-green">✓
        {% elif type == "cross" %}
            b--dark-red bg-red washed-red">✗
        {% else %}
            b--gold bg-yellow washed-yellow b">⁓
        {% endif %}
    </div>
{%- endmacro %}

{% block body %}

<section class="ma5 mw7 center f4 lh-copy">
    <ol>

        <li>
            {% if accepted %}
                {{ box("tick") }}
            {% else %}
                {{ box("cross") }}
            {% endif %}
            {% if not accepted %}
                <a href="{{ url_for("terms") }}">
            {% endif %}
                Learn about the study and read its terms
            {% if not accepted %}
                </a>
            {% endif %}
        </li>

        <li>
            {% if language_proof == "accepted" %}
                {{ box("tick") }}
            {% elif language_proof == "pending" %}
                {{ box("dash") }}
            {% else %}
                {{ box("cross") }}
            {% endif %}
            {% if language_proof == "none" %}
                <a href="{{ url_for("proof") }}">
            {% endif %}
                Submit your basic information and language proof
            {% if language_proof == "none" %}
                </a>
            {% endif %}
            {% if language_proof == "accepted" %}
                <ul class="ml6">
                    <li>Approved</li>
                </ul>
            {% elif language_proof == "pending" %}
                <ul class="ml6">
                    <li>Awaiting approval</li>
                </ul>
            {% endif %}
        </li>

        <li
            {% if language_proof == "none" or not accepted %}
                class="o-40"
            {% endif %}
        >
            {% if selfassess == "accepted" %}
                {{ box("tick") }}
            {% elif selfassess == "pending" %}
                {{ box("dash") }}
            {% else %}
                {{ box("cross") }}
            {% endif %}
            Complete the self-assessment
            <ul class="ml6">
                {% if selfassess == "none" and language_proof != "none" and accepted %}
                    <li>
                        <a href="{{ url_for("selfassess") }}">
                            Continuous mode
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for("selfassess") }}?count=300">
                            Answer 300 (20 mins)
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for("selfassess") }}?count=500">
                            Answer 500 (30 mins)
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for("selfassess") }}?count=1000">
                            Answer 1000 (1 hour)
                        </a>
                    </li>
                    <li>
                        <form action="{{ url_for("selfassess") }}">
                            Answer
                            <input name="count" type="number" value="100" min="1" max="{{ total_words }}" size="8">
                            <button type="submit">Go</button>
                        </form>
                    </li>
                {% endif %}
                {% if selfassess == "complete" %}
                    <li>Approved</li>
                {% elif selfassess == "pending" %}
                    <li>Awaiting approval</li>
                {% else %}
                    <li>{{ completed_words }}/{{ total_words }} completed</li>
                {% endif %}
            </ul>
        </li>

        <li
            {% if selfassess == "none" %}
                class="o-40"
            {% endif %}
        >
            {% if miniexam == "accepted" %}
                {{ box("tick") }}
            {% elif miniexam == "pending" %}
                {{ box("dash") }}
            {% else %}
                {{ box("cross") }}
            {% endif %}
            {% if selfassess != "none" and miniexam == "none" %}
                <a href="{{ url_for("miniexam") }}">
            {% endif %}
            Complete the mini-exam
            {% if selfassess != "none" and miniexam == "none" %}
                </a>
            {% endif %}
            <ul class="ml6">
                {% if selfassess == "none" %}
                    <li>
                        Once you have finished the self-assessment, there is a short mini-exam.
                    </li>
                {% elif miniexam == "none" %}
                    <li>
                        Complete the mini-exam in a single session. It should take no longer than 30 minutes.
                    </li>
                {% elif miniexam == "complete" %}
                    <li>Approved</li>
                {% elif miniexam == "pending" %}
                    <li>Awaiting approval</li>
                {% endif %}
            </ul>
        </li>

        <li
            {% if miniexam == "none" %}
                class="o-40"
            {% endif %}
        >{{ box("cross") }} Get paid
            <ul class="ml6">
                <li>
                    Once all participants have finished, everyone will be sent
                    a link to get paid directly by the University of Jyväskylä.
                </li>
            </ul>
        </li>
    </ol>
</section>
    
{% endblock %}
