{% extends "base.html" %}

{% macro cefr_block(fields) %}
    <table class="tc ml3-ns fl" style="width: min-content">
        <tr>
            <th></th>
            {% for choice in fields[0] %}
                <th class="normal">{{ choice.label.text.replace("CEFR ", "").replace("YKI ", "").replace(" / ", "<br>") | safe }}</th>
            {% endfor %}
        </tr>
        {% for field in fields %}
            <tr>
                <th class="normal tr h2">
                    {% set bits = field.label.text.split("_") | list %}
                    {{ bits[2:] | join(" ") | title }}
                </th>
                {% for opt in field %}
                    <td>{{ opt }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{%- endmacro %}

{% block body %}
{% if wtform.errors %}
    <ul>
        {% for field_name, field_errors in wtform.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ wtform[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}
<form method="post" enctype="multipart/form-data" class="ma5 mw7 center f5">

    <div class="flex items-center ma3">
        <label class="w5" for="{{ wtform.given_name.name }}">
            Given name<br>
            <span class="i f6">(Will be used for payment purposes.)</span>
        </label>
        {{ wtform.given_name(class_="ml3") }}
    </div>

    <div class="flex items-center ma3">
        <label class="w5" for="{{ wtform.surname.name }}">
            Surname<br>
            <span class="i f6">(Will be used for payment purposes.)</span>
        </label>
        {{ wtform.surname(class_="ml3") }}
    </div>

    <div class="flex items-center-ns flex-column-reverse flex-row-ns mh3 mv4 mv3-ns">
        <input class="flex-none" type="file" name="proof" id="proof" accept="image/*" capture="camera" required>
        <label for="proof" class="lh-copy mb2 mb0-ns">

            Please upload a photo showing the following:

            <ol>
                <li>Your face</li>
                <li>Photo ID</li>
                <li>The certificate with your name and the grade(s) clearly visible</li>
            </ol>

            The photo is used for verification only and will be deleted after
            the details are confirmed.
        </label>
    </div>

    <div class="flex items-center ma3">
        {{ wtform.proof_type.label(class_="w5") }}
        {{ wtform.proof_type(class_="ml3") }}
    </div>

    <div class="flex items-center ma3">
        {{ wtform.proof_age.label(class_="w5") }}
        {{ wtform.proof_age(class_="ml3") }}
    </div>

    <div class="flex items-center-ns flex-column flex-row-ns mh3 mv4 mv3-ns">
        <label class="w5-ns mb2 mb0-ns" for="{{ wtform.text_on_proof.name }}">
            Text on proof<br>
            <span class="i f6">Please transcribe the main text visible on your proof from your photo</span>
        </label>
        {{ wtform.text_on_proof(class_="ml3-ns") }}
    </div>

    <div class="flex items-center-ns flex-column flex-row-ns mh3 mv4 mv3-ns">
        <label class="w5-ns mb2 mb0-ns">
            CEFR levels according to proof
        </label>
        {{ cefr_block([
            wtform.cefr_proof_speaking,
            wtform.cefr_proof_writing,
            wtform.cefr_proof_listening_comprehension,
            wtform.cefr_proof_reading_comprehension
        ]) }}
    </div>

    <div class="flex items-center-ns flex-column flex-row-ns mh3 mv4 mv3-ns">
        <label class="w5-ns mb2 mb0-ns">
            Self-assessed CEFR levels<br>
            <span class="i f6">
                Please use <a
                    href="https://www.coe.int/en/web/portfolio/self-assessment-grid">CEFR
                    self-assessment grid</a> to make a self-assessment of your
                current Finnish level. Please combine your level for spoken interaction and spoken
                production into a single speaking level.
            </span>
        </label>
        {{ cefr_block([
            wtform.cefr_selfassess_speaking,
            wtform.cefr_selfassess_writing,
            wtform.cefr_selfassess_listening_comprehension,
            wtform.cefr_selfassess_reading_comprehension
        ]) }}
    </div>

    <div class="flex items-center ma4 justify-around">
        <input type="submit" name="submit" value="Upload and return to checklist">
    </div>

</form>
{% endblock %}
